/*------------------------FONT STYLES--------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  font-family: 'Roboto', sans-serif;
}

p,
ol {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
/*-------------------------NAV BAR-------------------------------*/


/*----Background color of header----*/
.navbar {
  background-color: #007699;
  color: #ffffff;

}

/*-------------------------Footer--------------------------------*/
.page-footer {
  background-color: #b34708;
  color: #ffffff
}